bitstring==3.1.9
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
ecdsa==0.17.0
esptool==3.1
Flask==2.0.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pycparser==2.20
pyserial==3.5
reedsolo==1.5.4
requests==2.26.0
roku-scanner==1.0.4
six==1.16.0
tqdm==4.61.2
urllib3==1.26.6
Werkzeug==2.0.1
xmltodict==0.12.0
