<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width'>
    <meta charset='UTF-8' />
    <title>Roku</title>
    <script defer src='/script'></script>
    <link rel='stylesheet' type='text/css' href='/style'>
  </head>
  <body>
    <button class='key top' id='Home'>Home</button>
    <button class='key top' id='Up'>Up</button>
    <button class='key top' id='PowerOff'>Off</button>
    <button class='key top' id='PowerOn'>On</button>
    <button class='key top' id='Left'>Left</button>
    <button class='key top' id='Select'>OK</button>
    <button class='key top' id='Right'>Right</button>
    <button class='key top' id='VolumeUp'>+</button>
    <button class='key top' id='Back'>Back</button>
    <button class='key top' id='Down'>Down</button>
    <button class='key top' id='VolumeMute'>Mute</button>
    <button class='key top' id='VolumeDown'>-</button>
    <button class='key bottom' id='Rev'>Rewind</button>
    <button class='key bottom' id='Play'>Play / Pause</button>
    <button class='key bottom' id='Fwd'>Fast Forward</button>
    <button class='ch bottom' id='ch-1'></button>
    <button class='ch bottom' id='ch-2'></button>
    <button class='ch bottom' id='ch-3'></button>
    <button class='ch bottom' id='ch-4'></button>
    <button class='ch bottom' id='ch-5'></button>
    <button class='ch bottom' id='ch-6'></button>
  </body>
</html>
