<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width'>
    <meta charset='UTF-8' />
    <title>Roku</title>
    <link rel='stylesheet' type='text/css' href='/style'>
    <script defer src='/settingsscript'></script>
  </head>
  <body>
      <h1 class='full'>ESP IP: %s</h1>
    <select class='channel-select bottom' id='channel-1'>

    </select>
    <select class='channel-select bottom' id='channel-2'>
        
    </select>
    <select class='channel-select bottom' id='channel-3'>
        
    </select>
    <select class='channel-select bottom' id='channel-4'>
        
    </select>
    <select class='channel-select bottom' id='channel-5'>
        
    </select>
    <select class='channel-select bottom' id='channel-6'>
        
    </select>
  </body>
</html>
